<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="PaperCattDB"
			 connectionString="Server=KOCCO\SQLEXPRESS;Database=PaperCatt;User Id=sa;Password=1234;TrustServerCertificate=True;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>